[submodule "metascript.nvim"]
	path = tools/editor-plugin/metascript.nvim
	url = https://github.com/metascriptlang/metascript.nvim.git
[submodule "metascript-vscode"]
	path = tools/editor-plugin/vscode
	url = https://github.com/metascriptlang/metascript-vscode.git
[submodule "metascript-zed"]
	path = tools/editor-plugin/zed
	url = https://github.com/metascriptlang/metascript-zed.git
[submodule "vendor/mbedtls"]
	path = vendor/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "vendor/argon2"]
	path = vendor/argon2
	url = https://github.com/P-H-C/phc-winner-argon2.git
[submodule "vendor/monocypher"]
	path = vendor/monocypher
	url = https://github.com/LoupVaillant/Monocypher.git
[submodule "vendor/miniz"]
	path = vendor/miniz
	url = https://github.com/richgel999/miniz.git
